@charset "utf=8"

	
.wrap { background: skyblue;}
		.gnb{
			width: 1200px;
			margin: 0 auto;
			height:40px;
			
		}
		.gnb > ul > li {float: left;width: 20%;background: skyblue; }
		.gnb > ul > li:hover {background: #55879b;}
		
		.gnb > ul > li > a{display: block;line-height: 40px; text-align: center;}
		.gnb > ul > li:hover  a {color: white;}
		/*.gnb > ul > li:hover .submenu {display: block;}*/
		.gnb > ul:hover .submenu {display: block;}
		
		.gnb .submenu{display: none;}
		.gnb .submenu li:hover {background: #b2dff2;}
		.gnb .submenu li a {display: block; line-height: 30px; text-align: center;}
		
		
		.visual {height :400px;background: orange;}
		